
<div class="jumbotron jumbotron-fluid p-4">
    <h1 class="display-4">Welcome!!</h1>
    <p class="lead">Read what developers are thinking about or post your own thoughts</p>
    <hr class="my-4">
    <p>Must have an account to read and post</p>
    <a class="btn btn-primary btn-lg" href="/login" role="button">Login</a>
</div>